{# FILTRES #}
<table class="sticky-top bg-light">
    <thead>
    <tr>
        <th colspan="4">Filtrer les villes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form method="POST">
                <select name="ville_filter_campus" class="form-select form-select-sm">
                    <option value="">Tous les campus</option>
                    {% for leCampus in campus %}
                        <option value="{{ leCampus.id }}">{{ leCampus.name }}</option>
                    {% endfor %}
                </select>
        </td>
        <td>
            <input type="text" name="ville_filter_name" placeholder="Nom contient..."
                   class="form-control form-control-sm">
        </td>
        <td>
            <input type="text" name="ville_filter_codePostal" placeholder="Code postal contient..."
                   class="form-control form-control-sm">
        </td>
        <td class="p-3">
            <button type="submit" name="ville_filter" class="btn btn-sm btn-success">Filtrer</button>
        </td>
        </form>
    </tr>
    </tbody>
</table>

{# ERRORS du CREATE #}
        {% if (formCreate.vars.errors | length) > 0 %}
            <div class="alert alert-danger m-2">
                {% for error in formCreate.vars.errors %}
                    <div>{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}

{# tableau GESTION des villes #}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Campus</th>
        <th>Nom</th>
        <th>Code Postal</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    {# todo : tout éclater et partir comme sur le modifier pour qu'on puisse le soumettre à chaque fois. Créer ensuite un JS pour les alert. #}
    {# CREATE #}
    {{ form_start(formCreate) }}
    <tr>
        <td>{{ form_row(formCreate.campus) }}</td>
        <td>{{ form_row(formCreate.name) }}</td>
        <td>{{ form_row(formCreate.codePostal) }}</td>
        <td>{{ form_row(formCreate.save) }}</td>
    </tr>
    {{ form_end(formCreate) }}


    {% if (villes|length) >0 %}

        {# DISPLAY #}
        {% for ville in villes %}
            <tr id="ville_{{ ville.id }}" class="border-bottom-0">
                <td rowspan="2">
                    <select name="ville_campus" class="form-select form-select-sm" form="edit_{{ ville.id }}">
                        {% for leCampus in campus %}
                            <option value="{{ leCampus.id }}"
                                    {% if leCampus.id == ville.campus.id %}selected{% endif %}>
                                {{ leCampus.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td rowspan="2">
                    <input type="text" name="ville_name" value="{{ ville.name }}"
                           class="form-control form-control-sm" required form="edit_{{ ville.id }}">
                </td>
                <td rowspan="2">
                    <input type="text" name="ville_codePostal" value="{{ ville.codePostal }}"
                           class="form-control form-control-sm" required form="edit_{{ ville.id }}">
                </td>
                <td>
                    {# BOUTON UPDATE #}
                    <form method="POST" id="edit_{{ ville.id }}">
                        <input type="hidden" name="ville_edit_id" value="{{ ville.id }}">
                        <button type="submit" class="btn btn-outline-warning">Modifier</button>
                    </form>
                </td>
            </tr>
            <tr class="border-top-0">
                <td>
                    {# BOUTON DELETE #}
                    <form method="POST" class="d-inline"
                          data-turbo-confirm="La suppression sera définitive et irréversible, souhaitez-vous continuer?">
                        <input type="hidden" name="ville_delete_id" value="{{ ville.id }}">
                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td colspan="4">Aucune ville trouvée</td>
        </tr>
    {% endif %}
    </tbody>
</table>
