<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ app_name }} - {% endblock %}</title>
    <link rel="icon" href="{{ asset('images/icon.svg') }}">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body>
<header>
    {% include('_navbar.html.twig') %}
</header>
<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
    <section class="container">
        {% block section %}
            {# Emplacement du corps de la vue #}
        {% endblock %}
    </section>
</main>
<footer>
    &copy; {{ app_name }} {{ "now"|date("Y") }}
</footer>
</body>
</html>
